body {
    background-color: lightgray;

}

#content {
    background-color: white;
    margin-top: 2vh;
    border-radius: 5px;
    margin-bottom: 2vh;
    height: 100%;

}

.nav-item {
    font-size: large;
}

#logo {
    height: 70px;
    width: auto;
}

form {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.form-title {
    text-align: center;
    margin-bottom: 2vh;
}

.btn-primary {
    background-color: #f9a927;
    border: none;

}

.btn-primary:hover {
    background-color: #ff8e0a;
}

.tableResult {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 3vh;

}

.tableResult thead th {
    position: sticky;
    top: 0;
}

#btn-creer-sortie {
    padding-bottom: 2vh;
    margin-bottom: 1vh;
}

#nomSortie {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-hover tbody tr:hover {
    background-color: #f9a927;
}

#sortie-infos {
    padding: 5px;
}

#infosSortie {
    background-color: #DDDDDD;
    display: block;
    border-radius: 10px;
}

#descriptionSortie {
    display: block;
    border-radius: 10px;
    background-color: #DDDDDD;
}

#infosPratiques {
    display: block;
    border-radius: 10px;
    background-color: #DDDDDD;
    margin-top: 5%;
}

h6, h3, h2 {
    text-align: center;
}

.nom-date-recherche {
    background-color: #f9a927;
    color: white;
    margin: 2vh;

    font-size: 3vh;
    border-radius: 5px;

}