body {
    background-color: lightgray;

}

#content {
    background-color: white;
    margin-top: 2vh;
    border-radius: 5px;
    margin-bottom: 2vh;
}

.nav-item {
    font-size: large;
}

#logo {
    height: 70px;
    width: auto;
}

form{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.form-title{
    text-align: center;
    margin-bottom: 2vh;
}

.btn-primary{
    background-color: #f9a927 ;
    border : none;

}

.btn-primary:hover{
    background-color: #ff8e0a;
}

#searchSortiesResult{
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 3vh;

}
#searchSortiesResult thead th{
    position:sticky;
    top:0;
}

#btn-creer-sortie{
    padding-bottom: 2vh;
}

footer{
    height: 5vh;
    background-color: #222222;
}

footer p{
    color: #e0e0e0;
}