body {
    background-color: lightgray;

}

#content {
    background-color: white;
    margin-top: 2vh;
    border-radius: 5px;
    margin-bottom: 2vh;
    height: 100%;

}

.nav-item {
    font-size: large;
}

#logo {
    height: 70px;
    width: auto;
}

form {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.form-title {
    text-align: center;
    margin-bottom: 2vh;
}

.btn-primary {
    background-color: #f9a927;
    border: none;

}

.btn-primary:hover {
    background-color: #ff8e0a;
}

.tableResult {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 3vh;

}

.tableResult thead th {
    position: sticky;
    top: 0;
}

#btn-creer-sortie {
    padding-bottom: 2vh;
    margin-bottom: 1vh;
}

#nomSortie {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-hover tbody tr:hover {
    background-color: #ffad28;
}

#sortie-infos {
    padding: 5px;
}

#descriptionSortie {
    display: block;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;

}

#infosPratiques {
    display: block;
    border-radius: 10px;
    margin-top: 5%;
}

.my-4 {
    width: 50%;
}

#liste-participants {
    text-align: center;
    width: 75%;

}

h6, h4, h2 {
    text-align: center;
}

.nom-date-recherche {
    background-color: white;
    color: black;
    margin: 2vh;
    font-size: 1.2rem;
    border-radius: 5px;

}

#date-participant {
    float: right;
    width: 20%;
}

#recherche_sortie_rechercher {
    float: right;
}

#checkbox-recherche-sortie > div > .col-sm-2{
    display: none;
}

#alerte-annulation {
    text-align: center;
}

a{

    font-weight: lighter;
}

a:hover{

}

p{
    font-weight: lighter;
}

.nav-link{
    font-weight: normal;
}



